
/* utility class */
.h-primary{
    font-size: 3rem;
    padding: 10px;
}

.btn{
    padding: 6px 20px;
    margin: 20px;
    border-radius: 18px;
    border:none;
    font-size: 1.2rem;
    color: white;
    background-color: rgba(128, 128, 128, 0.548);
}

.btn:hover{
    color: black;
    background-color: rgba(128, 128, 128, 0.699);
    cursor: pointer;
}

.center{
    text-align: center;
}
.h-secondary{
    margin: 10px;
    padding: 10px;
    font-size: 3rem;
}

html{
    scroll-behavior: smooth;
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

/* css variables */
:root{
    --navbar-height:20px;
}

/* navbar: logo and image */
#navbar{
    z-index: 10;
    display: flex;
    align-items: center;
    position: sticky;
    top:0px;
}

#navbar::before{
    content: "";
    background-color:black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}
#logo{
    margin: -6px 3px;
}
#logo img{
    margin: -2px -3px;
}

/* navbar: list styling */
#navbar ul{
    display: flex;
    padding: 0px;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    font-style: normal;
}
#navbar ul li a{
    display: block;
    padding: 3px 22px;
    color: white;
    border-radius: 15px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}


/* homesite page */

#home::before{
    content: "";
    background:url('catPics/back_img_1.jpg') no-repeat center center/cover;
    filter: brightness(80%);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 450px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

#home{
    /* background-color: rgba(0, 0, 0, 0.288); */
    display: flex;
    flex-direction: column;
    padding: 10px 200px;
    justify-content: center;
    align-items: center;
    height: 376px;
    color: white;
    text-align: center;
}
#home p{
    padding:4px;
    font-size: 1.2rem;
}


/* services section  */


#services{
    margin: 10px;
    display: flex;
}


#services .box{
    border: 2px solid rgb(19, 58, 61);
    margin: 20px;
    background-color: rgba(195, 251, 255, 0.137);
    border-radius: 20px;
    
}

#services .box p{
    padding: 15px;
}

#services .box img{
    display: block;
    margin: auto;
    height: 110px;
}

/* delivery section  */
#country-section{
    height: 300px;
    position: relative;
}

#country-section::before{
    content: "";
    position: absolute;
    background:url("catPics/back_img_2.jpg") ;
    width: 100%;
    height: 230px;
    z-index: -1;
    opacity: 0.4;
}

#countries{
    display: flex;
    align-items: center;
    justify-content: center;
}

.country-items{
    padding: 10px;
}

.country-items img{
    height: 100px;
}

/* contact section */

#contact{
    position: relative;
}
#contact::before{
    content: "";
    background: url("catPics/contact_us.jpg") no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;

}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

#contact-box form{
    width: 40%;
}


#contact-box input,#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 0.9rem;

}

footer{
    background: rgb(0, 0, 0);
    color: white;
}